body {
    font-family: "Fredoka", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: rgb(202, 255, 244);
}
.container_usuarios {
    display: flex;
    border: 10px; 
    border-color: rgb(3, 92, 95);
    border-style: solid; 
    border-radius: 15px;
    background-color: rgb(13, 137, 175);
    
    

}
.container_juego {
    display: flex;
    border: 10px; 
    border-color: rgb(3, 92, 95);
    border-style: solid; 
    background-color: rgb(13, 137, 175);
    border-radius: 15px;
    
}

.usuario   {
    display: flex;
   
    align-items: center;

}


#caja1 { 

 }

#caja2  {  margin-top: 10%; 
}

img { 
    width: 100px; 
}